<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your data is added successfully !!!!!!!!!</h1>
    <a href="read">Click to read the database data</a> <br>
    
    <a href="/">click to add more data</a>
</body>
</html>